# ---------- Global ----------
COMPOSE_PROJECT_NAME=bank-market
ENVIRONMENT=dev
LOG_LEVEL=INFO

# ---------- Postgres ----------
POSTGRES_IMAGE_TAG=16-alpine
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bank_market
POSTGRES_USER=pipeline
POSTGRES_PASSWORD=change_me
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata

# ---------- ClickHouse ----------
CLICKHOUSE_IMAGE_TAG=24.8
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DB=bank_market
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change_me

# ---------- Airbyte ----------
AIRBYTE_IMAGE_TAG=latest
AIRBYTE_HOST=airbyte
AIRBYTE_PORT=8000
AIRBYTE_ROLE=dev
AIRBYTE_DATABASE_URL=jdbc:postgresql://postgres:5432/airbyte
AIRBYTE_TEMPORAL_HOST=airbyte-temporal
AIRBYTE_TEMPORAL_PORT=7233

# ---------- Airflow ----------
AIRFLOW_IMAGE_TAG=2.10.2
AIRFLOW_HOST=airflow
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW_UID=50000
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_DB_HOST=postgres
AIRFLOW_DB_PORT=5432
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:change_me@postgres:5432/airflow
AIRFLOW__CORE__FERNET_KEY=replace_with_fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=replace_with_web_secret
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_FIRSTNAME=Air
AIRFLOW_ADMIN_LASTNAME=Flow
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_PASSWORD=change_me

# ---------- dbt ----------
DBT_IMAGE_TAG=1.8.latest
DBT_DB_HOST=postgres
DBT_DB_PORT=5432
DBT_DB_USER=pipeline
DBT_DB_PASSWORD=change_me
DBT_DB_NAME=bank_market
DBT_DB_SCHEMA=analytics
DBT_THREADS=4