DBT_PROFILES_DIR=/root/.dbt
DBT_DB_HOST=${DBT_DB_HOST}
DBT_DB_PORT=${DBT_DB_PORT}
DBT_DB_USER=${DBT_DB_USER}
DBT_DB_PASSWORD=${DBT_DB_PASSWORD}
DBT_DB_NAME=${DBT_DB_NAME}
DBT_DB_SCHEMA=${DBT_DB_SCHEMA}
DBT_THREADS=${DBT_THREADS}